* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Poppins";
}

.body {
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 180px;

    padding: 40px 50px;
    white-space: nowrap;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;

    
}

.menu ul a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    margin-left: auto;
}

.account .user-name {
    font-size: 24px;
    font-weight: bold;
    color: #7200B8;
}

.main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    padding: 0px 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;

    width: 254px;
    height: 783px;

    padding: 50px 0px 150px 5px;

    border-radius: 10px;
    background-color: black;
}

.dashboard,
.transaction,
.notification,
.support,
.settings,
.logout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    width: 180px;
    
    padding: 0px 10px;

    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.dashboard a,
.transaction a,
.notification a,
.support a,
.settings a,
.logout a {

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.dashboard {
    height: 70px;
    border-radius: 10px;
    background-color: #A717FE;
}

.logout {
    margin-top: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    /* width: 1061px; */
    width: 100%;
    height: 783px;
    padding: 0px 0px 0px 15px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 56px;
}

.content-header h2 {
    font-size: 24px;
    font-weight: bold;
}

.content-header p {
    margin-left: auto;
    padding: 10px;
    border: 1px solid #7200B8;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.05);
}

.row-one ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;

    margin-top: 15px;
    white-space: nowrap;
}

.row-one ul a {
    height: 96px;
    padding: 30px 20px;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 24px;
    font-weight: semiBold;
    color: white;
}

.background-image-one,
.background-image-two,
.background-image-three {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.background-image-one {
    top: 274px;
    left: 311px;
}

.background-image-two {
    top: 10.21px;
    left: 348.29px;
}

.background-image-three {
    top: 289px;
    left: 772px;
}

.row-two {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

    height: 100%;
}

.row-two .right {
    width: 300px;
    height: 500px;
    margin-left: auto;
    padding: 25px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
}

.row-two .right h3 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.row-two .right p {
    width: 244px;
    font-size: 14;
    color: white;
    margin-bottom: 15px;
}

.row-two .right p:nth-child(3) {
    margin-bottom: 0px;
}

.row-two .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}

.row-two .top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.row-two .top ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    width: 100%;
    margin-top: 85px;
    text-align: center;
}

.row-two .top ul a {
    width: 345px;
    height: 321px;
    padding: 0px 30px;
    background-color: black;
    border-radius: 10px;
    text-decoration: none;
    font-size: 36px;
    font-weight: Bold;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
}

.row-two .bottom {
    width: 412px;
    height: 96px;
    margin-top: auto;
    padding: 30px 5px;
    border: 1px solid #7200B8;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
}

.row-two .bottom a{
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.chatbox {
    position: fixed;
    right: 50px;
    bottom: 30px;

    width: 120px;
    height: 110px;

    text-align: center;
}

.chatbox p {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #7200B8;
    opacity: 0.5
}