* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.content {
    position: relative;
    /* width: 1440px;
    height: 1229px; */
}

.top {
    padding: 20px;

    .picture-container {
        position: relative;
    }

    .pic1 {
        position: absolute;
        right: 0px;
        
        width: 440px;
        height: 440px;
        border-radius: 50%;
    }

    .pic2 {
        position: absolute;
        right: 30px;
        top: 300px;

        width: 312px;
        height: 312px;
        border-radius: 50%;
    }
}

.bottom {
    .footer-box {
        position: fixed;
        bottom: 0px;
        
        width: 100%;
        height: 472px;
        background-color: #363032;

        .child-box {
            position: absolute;
            /* top: -94px;
            transform: translate(60%); */
            top: -94px;
            left: 50%;
            transform: translate(-50%);

            width: 868px;
            height: 188px;
            border-radius: 80px;
            background-color:#ECDAC4;
        }
    }
}

.modal-container {
    position: relative;
    z-index: 10; 

    .modal {
        position: fixed; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 465px;
        height: 436px;
        border-radius: 8px;
        background-color:#FFFFFF;
        /* box-shadow: 0px 20px 20px 0px #00000014; */
        box-shadow: 0px 0px 2px 0px #0000001F;
        text-align: center;

        .modal-close-button {
            position: absolute;
            top: 10px;
            right: 10px;

            width: 24px;
            height: 24px;
            background-color: #E5E5E5;
            border: none;
            border-radius: 50%;
            font-size: 21px;
            color:#4F4F4F;
            padding: 0px 0px 1px 1px;
            line-height: 1;
            /* display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;*/
        }

        .modal-display-area {
            margin: 40px auto 0px auto;

            width: 385px;
            height: 158px;
            background-color:#E5E5E5;
            border-radius: 12px;
            margin-bottom: 25px;
        }

        .modal-text {
            margin-top: 24px;

            .modal-text h3 {
                margin: 0 0 8px 0;
                font-size: 20px;
                font-weight: 600;
                color:#54595E;
            }

            .modal-text p {
                margin: 0 0 20px 0;
                font-size: 14px;
                color:#54595E99;
            }
        }

        .modal-form {
            margin-top: 24px;

            .modal-input {
                width: 385px;
                height: 44px;
                padding: 14px 16px 14px 16px;
                border: 1px solid#D1D1D1;
                border-radius: 8px;
                color:#ACACAC;
            }

            .modal-submit-button {
                margin-top: 16px;
                width: 385px;
                height: 44px;
                padding: 14px 20px 14px 20px;
                border-radius: 8px;
                background-color: #4F4F4F;
                border: 0px;
                color: white;
            }
        }
    }
}













