* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box1 {
    width: 300px;
    height: 300px;
    position: relative;
    
}

.box2 {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    transform: rotate(45deg);
}
