* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 60px;
    height: 65px;
    gap: 20px;

    border-bottom: 1px solid #e2e8f0;
    text-decoration: none;
    font-family: "Inter";
}

header a {
    text-decoration: none;
    font-size: 14px;
}

.logo-container,
.register-container,
.searchbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
}

.logo-container {
    width: 83px;
}

.logo-container h1 {
    font-size: 16px;
    font-weight: medium;
    color: #334155;
}

.register-container {
    width: 206px;
    margin-left: auto;
    gap: 24px;
    white-space: nowrap;
}

.register-container .cart {
    width: 24px;
    height: 24px;
}

.register-container .login-button {
    width: 61px;
    height: 40px;

    padding: 10px;

    border: 1.25px solid #334155;
}

.login-button a {
    color: #334155;
}

.register-container .signup-button {
    width: 73px;
    height: 40px;

    padding: 10px;

    border: 1.25px solid #334155;
    background-color: #334155;
}

.signup-button a {
    color: white;
}

.categories-container a,
.teach-container a {
    color: #334155;
}

.searchbar-container {
    justify-content: flex-start;
    gap: 10px;

    width: 622px;
    padding: 10px;

    border-radius: 8px;
    border: 1.25px solid #334155;
}

.searchbar-container .search-icon {
    width: 20px;
    height: 20px;
}

.searchbar-container input {
    border: none;
    outline: none;
    font-size: 14px;
}

.searchbar-container input::placeholder {
    color: #334155;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    width: 100%;
    height: 400px;
    padding: 60px 60px;
    background-color: #1E293B;
    font-family: "Inter";
}

footer .logo-container,
footer .help-container ul,
footer .programs-container ul,
footer .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

footer .logo-container {
    width: 416px;
    height: 161px;
}

footer .logo-container .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    
    width: 111px;
    height: 40px;
    /* margin-top: 8px; */
}

footer .logo-container .logo h2 {
    font-size: 23px;
    font-weight: normal;
    color: white;
}

footer .logo-container p {
    font-size: 14px;
    line-height: 1.5;
    color: #CBD5E1;
}

footer .help-container,
footer .programs-container {
    white-space: nowrap;
}

footer .help-container h2,
footer .programs-container h2,
footer .contact-container h2 {
    font-size: 18px;
    font-weight: semiBold;
    color: #CBD5E1;
}

footer .help-container ul,
footer .programs-container ul {
    gap: 16px;
    margin-top: 16px;
}

footer .help-container ul a,
footer .programs-container ul a,
footer .contact-container p {
    text-decoration: none;
    font-size: 14px;
    color: #CBD5E1;
}

footer .contact-container p {
    margin-top: 8px;
}

footer .contact-container a {
    margin-top: 24px;
}

/* Main */
main {
    font-family: "Inter";
}

/* Homepage */
.homepage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 60px 40px 60px;
}

.homepage-container .content-container {
    width: 592px;
    height: 262px;
}

.homepage-container .content-container h2 {
    font-size: 40px;
    font-weight: bold;
    color: #0F172A;
}

.homepage-container .content-container p {
    margin-top: 16px;
    font-size: 16px;
    color: #334155;
}

.homepage-container .content-container .start-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 238px;
    height: 48px;
    margin-top: 24px;
    padding: 10px 24px;
    
    border-radius: 8px;
    background-color: #3B82F6;
}

.start-button a {
    text-decoration: none;
    font-size: 14px;
    font-weight: medium;
    color: white;
}

/* Stats */
.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 149px;
    padding: 0px 60px;
    background-color: #F8FAFC;
}

.stats-container .line {
    width: 0px;
    height: 55px;
}

.stats-container .courses {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 192px;
    height: 69px;
    white-space: nowrap;
}

.stats-container .courses h2 {
    font-size: 32px;
    font-weight: semiBold;
}

.stats-container .courses p {
    margin-top: auto;
    font-size: 14px;
    color: #0F172A;
}

/* Top Categories, Top Courses */
.top-categories-container,
.top-courses-container,
.top-instructors-container {
    height: 296px;
    margin-top: 60px;
    padding: 0px 60px;
}

.top-categories-container .title,
.top-courses-container .title,
.top-instructors-container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    
}

.top-categories-container .title h2,
.top-courses-container .title h2,
.top-instructors-container .title h2 {
    font-size: 24px;
    font-weight: semiBold;
    color:#0F172A;
}

.top-categories-container .title a,
.top-courses-container .title a,
.top-instructors-container .title a {
    margin-right: 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: medium;
    color: #3B82F6;
}

.top-categories-container .categories-container,
.top-courses-container .courses-container,
.top-instructors-container .instructors-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 24px;
    height: 224px;
}

.top-categories-container .categories-container .card,
.top-courses-container .courses-container .card,
.top-instructors-container .instructors-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 286px;
    height: 224px;
    padding: 24px 93px;

    border: 1px solid #E2E8F0;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Top Categories */
.top-categories-container .categories-container .card .picture {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    border-radius: 100%;
    background-color: #E0F2FE;
}

.top-categories-container .categories-container .card h3 {
    font-size: 20px;
    font-weight: semiBold;
    color: #0F172A;
}

.top-categories-container .categories-container .card p {
    font-size: 16px;
    color: #334155;
}

/* Top Courses */
.top-courses-container {
    height: 410px;
}

.top-courses-container .courses-container {
    height: 338px;
}

.top-courses-container .courses-container .card {
    align-items: flex-start;
    width: 298px;
    height: 338px;
    padding: 16px;
}

.top-courses-container .courses-container .card h3 {
    font-size: 18px;
    font-weight: semiBold;
    color: #0F172A;
}

.top-courses-container .courses-container .card p {
    font-size: 14px;
    color: #334155;
}

.top-courses-container .courses-container .card .rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.top-courses-container .courses-container .card .rating p {
        font-size: 12px;
        font-weight: Bold;
        color: #334155;
}

.top-courses-container .courses-container .card h4 {
    font-size: 20px;
    font-weight: semiBold;
    color: #0F172A;
}

/* Top Instructors */
.top-instructors-container {
    height: 353px;
}

.top-instructors-container .instructors-container {
    height: 281px;
}

.top-instructors-container .instructors-container .card {
    width: 212px;
    height: 281px;
    padding: 16px;
}

.top-instructors-container .instructors-container .card .picture {
    text-align: center;
    border-bottom: 1px solid #E2E8F0;
    /* border: 1px solid red; */
    height: 210px;

    h3 {
        margin-top: 12px;
        font-size: 18px;
        font-weight: semiBold;
        color: #0F172A;
    }

    p {
        margin-top: 5px;
        font-size: 14px;
        color: #334155;
    }
}

.top-instructors-container .instructors-container .card .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 180px;
    height: 20px;
    /* border: 1px solid red; */
    .stars {
        width: 43px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 13px;
            font-weight: 500;
            color: #0F172A;
        }
    }

    p {
        font-size: 13px;
        font-weight: 500;
        color: #334155;
    }
}

/* About us */
.about-us-container {
    height: 512px;
    margin-top: 60px;
    padding: 0px 60px;
}

.about-us-container .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    margin-top: 80px;
}

.about-us-container .title h2 {
    width: 308px;
    font-size: 24px;
    font-weight: semiBold;
    color: black;
}

.about-us-container .title .buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 136px;
    height: 40px;
}

.about-us-container .title .buttons-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 56px;
    height: 40px;
    padding: 10px 16px;

    border-radius: 8px;
    background-color: #94A3B8;
}

.about-us-container .reviews-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    overflow: hidden;

    height: 276px;
    margin-top: 24px;
}

.about-us-container .reviews-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    min-width: 432px;
    height: 276px;
    padding: 24px 24px;
    border-radius: 16px;
    border: 1px solid #E2E8F0;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-us-container .reviews-container .card img {
    width: 48px;
    height: 48px;
}

.about-us-container .reviews-container .card p {
    font-size: 16px;
    color: black;
    line-height: 1.6;
}

.about-us-container .reviews-container .card .user-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    width: 150px;
    height: 60px;

    h3 {
        font-size: 18px;
        font-weight: semiBold;
        color: black;
    }

    p {
        font-size: 14px;
        color: #334155; 
    }
}

/* Bottom-images */
.bottom-images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    margin: 60px 0px;
    padding: 0px 60px;
}

.bottom-images-container .top,
.bottom-images-container .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;

    width: 77.986%;
}

.bottom-images-container .top-content,
.bottom-images-container .bottom-content {
    width: 48.887%;
    height: 154px;
}

.bottom-images-container .top-content h2,
.bottom-images-container .bottom-content h2 {
    font-size: 20px;
    font-weight: semiBold;
}

.bottom-images-container .top-content p,
.bottom-images-container .bottom-content p {
    margin-top: 8px;
    font-size: 16px;
    color: #1D2939;
    line-height: 1.6;
}

.bottom-images-container .top-content .top-button,
.bottom-images-container .bottom-content .bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 273px;
    height: 48px;
    margin-top: 16px;
    padding: 10px 24px;

    border-radius: 8px;
    background-color: #020617;
    white-space: nowrap;
}

.bottom-images-container .bottom-content .bottom-button {
    width: 202px;
}

.bottom-images-container .top-content a,
.bottom-images-container .bottom-content a {
    text-decoration: none;
    font-size: 14px;
    font-weight: medium;
    color: white;
}
