* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0px 128px 0px 128px;
}

a {
    text-decoration: none;
}

/* HEADER */
.header-container {
    height: 113;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 32px 0px 32px 0px;
}

.header-container .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.header-container .logo h1 {
    font-size: 24px;
    font-weight: 1000;
}

.header-container .menu .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;

    list-style: none;
}

.header-container .menu .links a{
    
    font-weight: bold;
    color: #191825;
    opacity: 0.5;
}

.header-container .menu .links li:first-child a{
    color: #222831;
    opacity: 1;
}

.header-container .register {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .register .button {
    padding: 16px 32px 16px 32px;
    border-radius: 40px;
}

.header-container .register .button a {
    white-space: nowrap; 
}

.header-container .register .button.log-in a {
    font-weight: bold;
    color: #222831;
}

.header-container .register .button.sign-up {
    background-color: #5D50C6;
}

.header-container .register .button.sign-up a {
    font-weight: bold;
    color: #EEEEEE;
}

/* FIRST CONTENT */
.content.first {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 64px 0px 64px 0px;
}

.content.first .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: auto;

    height: 577px;
}

.text .button-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    width: 224px;
    height: 56px;
    padding: 16px 32px 16px 32px;
    border-radius: 40px;

    box-shadow: 
        /* 1. The primary, soft, diffused shadow */
        0 10px 20px rgba(0, 0, 0, 0.08), 
        
        /* 2. A subtle, sharper shadow for depth (optional, but enhances the look) */
        0 2px 4px rgba(0, 0, 0, 0.05);
}

.button-one p {
    width: 120px;
    font-size: 12px;
    font-weight: bold;
    font-weight: bold;
    color: #F85E9F;
    white-space: nowrap;
}

.text .title h2 {
    font-size: 80px;

    span {
        color: #F85E9F;
    }
}

.text .paragraph {
    color: #191825;
    opacity: 0.5;
}

.text .button-two {
    display: flex;
    justify-content: space-between;
    width: 338px;
    height: 56px;
}

.button-two .get-started {
    width: 141px;
    height: 49px;
    padding: 16px 32px 16px 32px;
    background-color: #5D50C6;
    border-radius: 40px;

    box-shadow: 
        /* 1. The primary, soft, diffused shadow */
        0 10px 20px rgba(0, 0, 0, 0.08), 
        
        /* 2. A subtle, sharper shadow for depth (optional, but enhances the look) */
        0 2px 4px rgba(0, 0, 0, 0.05);
}

.get-started p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.button-two .watch-demo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 181px;
    height: 56px;
    padding: 16px 32px 16px 32px;

    border: 1px solid lightgrey;
    border-radius: 40px;
}

.watch-demo p {
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}

/* SECOND CONTENT */
.partner-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    justify-items: center;  
    align-items: center;
    gap: 27px;

    padding: 64px 0px;
    /* width: 100%; */
    min-height: 160px;
}

.partner-container img {
    max-height: 32px;
    max-width: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}


/* Smart Phone */
@media (max-width: 767px) {
  /* Code cho các thiết bị từ 767px trở lên */
  body {
    font-size: 14px;
    padding: 0px 16px 0px 16px;
  }

  .header-container {height: 112px}

  .header-container .menu {display: none;}

  .header-container .register {display: none;}

  .content.first {
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;

    width: 100%;
    height: 947px;
    padding: 32px 0px 32px 0px;

    .picture {order: 1;}

    .text {order: 2;}
  }

  .content.first .picture img {width: auto; height: 366px}

  .content.first .text {
    width: 398px; 
    height: 485px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;

    text-align: center;
  }

  .text .button-one {
    width: 224px;
    height: 56px;
  }

  .text .title h2{
    width: 398px;
    height: 144px;
    font-size: 40px;
  }

  .text .paragraph p {
    height: 52px;
    font-size: 16px;
  }

  .text .button-two {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }

  .button-two .get-started {
    width: 100%;
    height: 65px;
  }

  .button-two .watch-demo {
    width: 100%;
    height: 65px;
  }

  .partner-container {
    padding: 32px 0px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1297px) {
  /* Code cho các thiết bị từ 768px đến 1297px */
  body {
    font-size: 16px;
    padding: 0px 64px 0px 64px;
  }

  .header-container .logo {order: 2;}

  .header-container .menu {display: none;}

  .header-container .hamburger-menu {order: 1;}

  .header-container .register {order: 3;}

  .content.first {
    flex-direction: column;

    .picture {order: 1;}

    .text {order: 2;}
  }
  
  .content.first .picture img {width: 682px; height: 713px}

  .content.first .text {align-items: center;}

  .text .title, .text .paragraph {text-align: center;}

  .text .title h2{
    width: 745px;
    font-size: 56px;
  }

  .text .paragraph p{
    width: 545px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  /* Code cho các thiết bị từ 1280px trở lên */
  body {
    font-size: 18px;
  }

  .header-container .hamburger-menu {display: none;}
}