.box {
    background-color:aquamarine;
    width: 200px;
    height: 200px;
}

#b1 {
    position: relative;
    background-color: red;
    width: 600px;
    height: 600px;
    z-index: 10;
}

#b2 {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 200px;
    bottom: 200px;
    background-color: blue;
}