* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 0px 80px;
    height: 95px;
    background-color: #F9FCFF;

    .menu {
        display: flex;
        justify-content: space-between;
        gap: 48px;

        a {
            font-family: "Outfit";
            font-size: 20px;
            color: #1A2434;
            text-decoration: none;
        }

        .class {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px
        }
    }

    .search-container {
        display: flex;
        align-items: center;
        width: 367px;
        height: 55px;

        .cart {
            margin-right: 20px;
            width: 23px;
            height: 23px;
        }

        .search-bar {
            position: relative;
            width: 320px;
            height: 55px;

            img {
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                width: 23px;
                height: 23px;
            }

            input {
                width: 320px;
                height: 55px;
                padding: 16px 16px 16px 39px;
                background-color: white;
                border: 1px solid #EBEFF6;
                border-radius: 8px;

                input::placeholder {
                    font-family: "Outfit";
                    font-size: 16px;
                    opacity: 0.4;
                }
            }
        }
    }
}

.first-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    height: 826px;
    padding: 80px;
    background-color: #F9FCFF;

    .content-text {
        width: 624px;
        height: 599px;

        .text-container, h1{
            margin-bottom: 24px;
            font-family: "Plus Jakarta Sans";
            font-size: 60px;
            font-weight: bold;
            color: #1A2434;
        }

        .text-container, p{
            margin-bottom: 24px;
            font-family: "Inter";
            font-size: 20px;
            /* font-weight: 250; */
            color: #1A2434;
            opacity: 0.7;
        }

        .student-container {
            position: relative;
            height: 96px;
            /* padding: 0px 0px 0px 40px; */
            border-left: 4px solid #A4074D;

            .student {
                margin-left: 40px;
            }

            .student, p {
                font-family: "Inter";
                font-size: 20px;
                font-weight: bold;
                color: #1A2434;
                opacity: 0.85;
            }

            .student .picture {
                position: absolute;
                top: 25%;
            }

            .student .picture:nth-child(2) {
                left: 35px;
            }

            .student .picture:nth-child(3) {
                left: 75px;
            }

            .student .picture:nth-child(4) {
                left: 115px;
            }

            .student .picture:nth-child(5) {
                left: 155px;
            }

            .student .picture:nth-child(6) {
                left: 195px;
            }
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            gap: 16px;

            height: 77px;
            margin: 40px 0px 40px 0px;
            
            button {
                width: 100%;
                height: 77px;

                border-radius: 16px;
                font-family: "Inter";
                font-size: 24px;
            }

            .button-start {
                background-color: #A4074D;
                border: none;
                font-weight: bold;
                color: white;
            }

            .button-learn {
                background-color: #F9FCFF;
                border: 1px solid #A4074D;
                font-weight: bold;
                color: #1A2434;
            }
        }

        .partner-container {
            p {
                font-family: "Inter";
                font-size: 20px;
                font-weight: bold;
                color: #1A2434;
            }

            .partner {
                display: flex;
                justify-content: space-between;
                gap: 8px
            }
        }
    }

    .content-image {
        position: relative;

        .instructor-container {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, 20%);

            width: 253px;
            height: 176px;
            padding: 16px 32px;

            font-family: "Poppins";
            background-color: #FFFFFF;
            border-radius: 16px;
            box-shadow:
                0 10px 20px rgba(0, 0, 0, 0.08),
                0 5px 10px rgba(0, 0, 0, 0.04);

            .window-title {
                color: #1A2434;
                font-size: 20px;
                text-align: center;
            }

            .instructor {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 8px;

                margin-top: 16px;
                /* width: 166px;
                height: 42px; */

                img {
                    width: 42px;
                    height: 42px;
                }

                .instructor-infor {
                    align-self: flex-start;

                    .name {
                        font-size: 16px;
                        font-weight: 450;
                        color: #1A2434;
                    }

                    .role {
                        font-size: 14px;
                        color: #575455;
                    }
                }
            }
        }
    }
}