* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 60px;
    height: 65px;
    gap: 20px;

    border-bottom: 1px solid #e2e8f0;
    text-decoration: none;
    font-family: "Inter";
}

header a {
    text-decoration: none;
    font-size: 14px;
}

.logo-container,
.profile-container,
.searchbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
}

.logo-container {
    width: 83px;
}

.logo-container h1 {
    font-size: 16px;
    font-weight: medium;
    color: #334155;
}

.profile-container {
    width: 206px;
    margin-left: auto;
    gap: 24px;
    white-space: nowrap;
}

.profile-container .favorite,
.profile-container .cart,
.profile-container .notification {
    width: 24px;
    height: 24px;
}

.profile-container .avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 100%;
    background-color: #334155;

    a {
        font-size: 16px;
        font-weight: medium;
        color: white;
    }
}



.categories-container a,
.teach-container a {
    color: #334155;
}

.searchbar-container {
    justify-content: flex-start;
    gap: 10px;

    width: 622px;
    padding: 10px;

    border-radius: 8px;
    border: 1.25px solid #334155;
}

.searchbar-container .search-icon {
    width: 20px;
    height: 20px;
}

.searchbar-container input {
    border: none;
    outline: none;
    font-size: 14px;
}

.searchbar-container input::placeholder {
    color: #334155;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    width: 100%;
    height: 400px;
    padding: 60px 60px;
    background-color: #1E293B;
    font-family: "Inter";
}

footer .logo-container,
footer .help-container ul,
footer .programs-container ul,
footer .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

footer .logo-container {
    width: 416px;
    height: 161px;
}

footer .logo-container .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    
    width: 111px;
    height: 40px;
    /* margin-top: 8px; */
}

footer .logo-container .logo h2 {
    font-size: 23px;
    font-weight: normal;
    color: white;
}

footer .logo-container p {
    font-size: 14px;
    line-height: 1.5;
    color: #CBD5E1;
}

footer .help-container,
footer .programs-container {
    white-space: nowrap;
}

footer .help-container h2,
footer .programs-container h2,
footer .contact-container h2 {
    font-size: 18px;
    font-weight: semiBold;
    color: #CBD5E1;
}

footer .help-container ul,
footer .programs-container ul {
    gap: 16px;
    margin-top: 16px;
}

footer .help-container ul a,
footer .programs-container ul a,
footer .contact-container p {
    text-decoration: none;
    font-size: 14px;
    color: #CBD5E1;
}

footer .contact-container p {
    margin-top: 8px;
}

footer .contact-container a {
    margin-top: 24px;
}

/* main */
main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;

    padding: 40px 60px 78px 60px;
    font-family: "Inter";
    /* border: 1px solid red; */
}

.sidebar-container {
    width: 290px;
    height: 607px;

    border-radius: 16px;
    background-color: #F8FAFC;
}

.sidebar-container .top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 274px;
    height: 318px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 0px;

    border-bottom: 1px solid #E2E8F0;
}

.sidebar-container .top-container h2 {
    font-size: 20px;
    font-weight: semiBold;
    color: #0F172A;
}

.sidebar-container .top-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    width: 164px;
    height: 48px;
    padding: 10px 24px;

    border: 1px solid #E2E8F0;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;

    p {
        white-space: nowrap;
        font-size: 14px;
        font-weight: medium;
        color: #0F172A;
    }
}

.sidebar-container .bottom-container ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 290px;
    height: 265px;
    margin-top: 24px;
    /* border: 1px solid red; */
}

.sidebar-container .bottom-container ul a {
    width: 100%;
    height: 53px;
    padding: 16px;

    border: none;
    border-bottom: 1px solid#E2E8F0;
    text-decoration: none;
    font-size: 14px;
    color: #334155;
}

.sidebar-container .bottom-container ul a:last-child {
    border: none;
}

.sidebar-container .bottom-container ul .messages,
.sidebar-container .bottom-container ul a:hover,
.sidebar-container .bottom-container ul a:hover:last-child {
    border: none;
    background-color: #0F172A;
    color: white;
}

.sidebar-container .bottom-container ul a:hover:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* Content */
.content-container {
    width: 920px;
    height: auto;
    /* border: 1px solid pink; */
}

/* Toolbar */
.content-container .toolbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 94px;
    /* border: 1px solid yellow; */
}

.content-container .toolbar-container .title {
    height: 30px;
    white-space: nowrap;
    
    h2 {
        font-size: 20px;
        font-weight: 600;
        color: #0F172A;
    }

    span {
        font-size: 12px;
        font-weight: 600;
    }
}

.content-container .toolbar-container .toolbar,
.content-container .toolbar-container .toolbar .searchbar,
.content-container .toolbar-container .toolbar .sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 48px;
    /* border: 1px solid orange; */
}

.content-container .toolbar-container .toolbar .searchbar {
    width: 300px;
    height: 44px;
    padding: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;

    input {
        width: 88%;
        height: 34px;
        border: none;
        font-size: 14px;
        outline: none;
    }

    input::placeholder {
        font-size: 14px;
        color:#334155;
    }
}

.content-container .toolbar-container .toolbar .sort-container {
    gap: 15px;

    /* border: 1px solid red; */

    p {
        font-size: 16px;
        color: #0F172A;
    }

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;

        height:48px;
        padding: 10px 24px;
        
        border: 1px solid #0F172A;
        border-radius: 8px;
        background: white;
        box-shadow: inset 0 0 0 1px #0F172A;
        border: none;

        font-size: 14px;
        color: #0F172A;
        cursor: pointer;
    }
}

/* Card container */
.card-container {
    width: 950px;
    margin-top: 15px;
    /* border: 1px solid pink; */
}

/* Flex cards */
.card-container .flex-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    height: auto;/*975px;*/
    /* border: 1px solid yellow; */
}

.chat-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.flex-cards .card {
    height: 114px;
    padding: 16px;

    border: 1px solid #E2E8F0;
    border-radius: 16px;
    background-color: white;
    cursor: pointer;
}

.flex-cards .card .header,
.flex-cards .card .header .teacher{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;
}

.flex-cards .card .header .teacher{
    justify-content: flex-start;
    gap: 8px;
    height: 40px;
}

.flex-cards .card .header .time p {
    font-size: 14px;
    color: #334155;
}

.flex-cards .card .chat {
    margin-top: 16px;

    p {
        font-size: 16px;
        color: #0F172A;
    }
}


/* Pagination */
.card-container .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 211px;
    height: 41px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    /* border: 1px solid pink; */
    display: none;
}

.card-container .pagination button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 41px;

    /* box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none; */
    border-top: 1px solid #E2E8F0;
    border-bottom: 1px solid #E2E8F0;
    border-right: 1px solid #E2E8F0;
    border-left: 0px solid #E2E8F0;
    background-color: white;
    font-size: 12px;
    font-weight: semiBold;
    color: #0F172A;
    cursor: pointer;

    img {
        width: 3.75px;
        height: 7.5px;
    }
}

.card-container .pagination button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none;
}

.card-container .pagination button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none;
}

.card-container .pagination button:nth-last-child(2) {
    border-right: 0px solid #E2E8F0;
}