@import url("./header.css");
@import url("./footer.css");
@import url("./profile_sidebar.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main */
main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;

    padding: 40px 60px 78px 60px;
    font-family: "Inter";
    /* border: 1px solid red; */
}

.sidebar-container .bottom-container ul .my-courses {
    border: none;
    background-color: #0F172A;
    color: white;
}

/* Content */
.content-container {
    width: 920px;
    height: auto;
    /* border: 1px solid pink; */
}

/* Toolbar */
.content-container .toolbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 94px;
    /* border: 1px solid yellow; */
}

.content-container .toolbar-container .title {
    width: 118px;
    height: 30px;
    
    h2 {
        font-size: 20px;
        font-weight: 600;
        color: #0F172A;
    }

    span {
        font-size: 12px;
        font-weight: 600;
    }
}

.content-container .toolbar-container .toolbar,
.content-container .toolbar-container .toolbar .searchbar,
.content-container .toolbar-container .toolbar .sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 48px;
    /* border: 1px solid orange; */
}

.content-container .toolbar-container .toolbar .searchbar {
    width: 300px;
    height: 44px;
    padding: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 8px;

    input {
        width: 88%;
        height: 34px;
        border: none;
        font-size: 14px;
        outline: none;
    }

    input::placeholder {
        font-size: 14px;
        color:#334155;
    }
}

.content-container .toolbar-container .toolbar .sort-container {
    gap: 15px;

    /* border: 1px solid red; */

    p {
        font-size: 16px;
        color: #0F172A;
    }

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6px;

        height:48px;
        padding: 10px 24px;
        
        border: 1px solid #0F172A;
        border-radius: 8px;
        background: white;
        box-shadow: inset 0 0 0 1px #0F172A;
        border: none;

        font-size: 14px;
        color: #0F172A;
        cursor: pointer;
    }
}

/* Card container */
.card-container {
    width: 942px;
    margin-top: 15px;
    /* border: 1px solid pink; */
}

/* Grid cards */
.card-container .grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(298px, 1fr)); /*1fr 1fr 1fr 1fr;*/
    gap: 20px;

    /* width: 896px; */
    height: auto;/*975px;*/
    /* border: 1px solid yellow; */
}

/* Card */
.card-container .grid-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 298px;
    height: 282px;
    padding: 16px;

    border-radius: 16px;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-container .grid-cards .card h3 {
    font-size: 18px;
    font-weight: semiBold;
    color: #0F172A;
}

.card-container .grid-cards .card p {
    font-size: 14px;
    color: #334155;
}

.card-container .grid-cards .card .progress-bar,
.card-container .grid-cards .card .progress-bar .progress {
    width: 263px;
    height: 3px;
    border-radius: 60px;
    background-color: #E0F2FE;
}

.card-container .grid-cards .card .progress-bar .progress {
    width: 96px;
    background-color: #2563EB;
}

.card-container .grid-cards .card .rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.card-container .grid-cards .card .rating p {
        font-size: 12px;
        font-weight: Bold;
        color: #334155;
}

/* Pagination */
.card-container .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 211px;
    height: 41px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    /* border: 1px solid pink; */
}

.card-container .pagination button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 41px;

    /* box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none; */
    border-top: 1px solid #E2E8F0;
    border-bottom: 1px solid #E2E8F0;
    border-right: 1px solid #E2E8F0;
    border-left: 0px solid #E2E8F0;
    background-color: white;
    font-size: 12px;
    font-weight: semiBold;
    color: #0F172A;
    cursor: pointer;

    img {
        width: 3.75px;
        height: 7.5px;
    }
}

.card-container .pagination button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none;
}

.card-container .pagination button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none;
}

.card-container .pagination button:nth-last-child(2) {
    border-right: 0px solid #E2E8F0;
}