@import url("./header.css");
@import url("./footer.css");
@import url("./profile_sidebar.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main */
main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;

    padding: 40px 60px 78px 60px;
    font-family: "Inter";
    /* border: 1px solid red; */
}

/* Sidebar */
.sidebar-container .bottom-container ul .my-reviews {
    border: none;
    background-color: #0F172A;
    color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


/* Content */
.content-container {
    width: 920px;
    height: auto;
    /* border: 1px solid pink; */
}

/* Toolbar */
.content-container .toolbar-container {
    /* border: 1px solid yellow; */
}

.content-container .toolbar-container .title {
    width: 118px;
    height: 30px;
    
    h2 {
        font-size: 20px;
        font-weight: 600;
        color: #0F172A;
    }

    span {
        font-size: 12px;
        font-weight: 600;
    }
}

/* Card container */
.card-container {
    width: 902px;
    margin-top: 15px;
    /* border: 1px solid pink; */
}

/* Flex cards */
.card-container .flex-cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;

    height: auto;/*975px;*/
    /* border: 1px solid yellow; */
}

.flex-cards .card {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    /* height: 195px; */
    padding: 16px;

    border: 1px solid #E2E8F0;
    border-radius: 16px;
    background-color: white;
}

.flex-cards .card .card-button button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.flex-cards .card .reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.flex-cards .card .reviews h4 {
    font-size: 14px;
    font-weight: 400;
    color:#0F172A;

    span {
        font-size: 18px;
        font-weight: 600;
        color: #0F172A;
    }
}

.flex-cards .card .reviews .rating,
.flex-cards .card .reviews .review {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.flex-cards .card .reviews .review p {
    font-size: 16px;
    color: #334155;
    line-height: 1.6;
}

/* Pagination */
.card-container .pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 211px;
    height: 41px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    /* border: 1px solid pink; */
}

.card-container .pagination button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 41px;

    /* box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none; */
    border-top: 1px solid #E2E8F0;
    border-bottom: 1px solid #E2E8F0;
    border-right: 1px solid #E2E8F0;
    border-left: 0px solid #E2E8F0;
    background-color: white;
    font-size: 12px;
    font-weight: semiBold;
    color: #0F172A;
    cursor: pointer;

    img {
        width: 3.75px;
        height: 7.5px;
    }
}

.card-container .pagination button:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none;
}

.card-container .pagination button:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: inset 0 0 0 1px #E2E8F0;
    border: none;
}

.card-container .pagination button:nth-last-child(2) {
    border-right: 0px solid #E2E8F0;
}